<a href="https://colab.research.google.com/github/ned717/UW-Madison-ALP-Computer-Science/blob/main/Day2_ALP_CompSci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
counter = 1
while counter <= 5:
  print("this code is inside the loop", counter )
  counter +=1

print("the loop has ended")

this code is inside the loop 1
this code is inside the loop 2
this code is inside the loop 3
this code is inside the loop 4
this code is inside the loop 5
the loop has ended

In [ ]:
num = int(input('What number would you like the countdown to start at? '))
while num > 0:
  print("Blast off in ", num )
  num -=1
print("BLAST OFF")

What number would you like the countdown to start at? 8
Blast off in  8
Blast off in  7
Blast off in  6
Blast off in  5
Blast off in  4
Blast off in  3
Blast off in  2
Blast off in  1
BLAST OFF

#Try Again Password

In [ ]:
correctusername = "dave"

username = input(("Please enter your username ")).lower()

while username != correctusername:
  username = input('Incorrect Username ')
print("Correct")

Please enter your username nate
Incorrect Username dave
Correct

In [ ]:
pw = input("Please Pick a password. ")

pw2 = input("Please rewrite your password. " )

while pw != pw2:
  print("Incorrect")
  pw2 = input("Try again. ")
print("Correct")

Please Pick a password. nate
Please rewrite your password. bob
Incorrect
Try again. nate
Correct

#Lists

In [ ]:
fruit = ["Apple", "Banana", "Grape", "Strawberry", "Melon", "Orange"]

print(fruit)

['Apple', 'Banana', 'Grape', 'Strawberry', 'Melon', 'Orange']

In [ ]:
fruit = ["Apple", "Banana", "Grape", "Strawberry", "Melon", "Orange"]
num = int(input("Pick a number for fruit "))
print(fruit[num])

Pick a number for fruit 5
Orange

In [ ]:
food = ["Bacon", "Cheese", "Pasta", "Beans"]
food.append("tomatoes")
food.insert(1, "ice cream")
food.remove("Cheese")
food.pop()
print(food)

['Bacon', 'ice cream', 'Pasta', 'Beans']

#Finding an Item in a List

In [ ]:
weapons = ["Sword", "Bat", "Gun", "Hammer"]
zombiew = "gun"
print("You have encountered a zombie prepare to Fight! " )
print(weapons)
user = int(input("If you wish to use an item listed above type 1, if you wish to use another item type 2. "))
if user == 2:
  oweapon = (input("What other weapon would you like to use?  " ))
  weapons.append(oweapon)
else:
  print(weapons)
  choice = input("What weapon would you like? ")
if choice == zombiew.lower():
  print("You have killed him!")
else:
  print("The weapon you picked was not strong enough and you failed, try again.")

You have encountered a zombie prepare to Fight!
['Sword', 'Bat', 'Gun', 'Hammer']
If you wish to use an item listed above type 1, if you wish to use another item type 2. 1
['Sword', 'Bat', 'Gun', 'Hammer']
What weapon would you like? gun
You have killed him!

#Subroutines

In [ ]:
def add(num1,num2):
  sum1 = num1 + num2
  print('This is your answer ', sum1)
def sub(num1,num2):
  sum2 = num1 - num2
  print(sum2)
def mut(num1,num2):
   sum3 = num1*num2
   print(sum3)
def div(num1,num2):
  if num1 or num2 == 0:
    print("Invalid")
  else:
    sum4 = num1/num2
    print(sum4)

num1 = int(input("Hello, what is the first number of your calculation? "))
opper = int(input("If you wish to add type 1, subtract type 2, multiple type 3, divide type 4. "))
num2 = int(input("Hello, what is the second number of your calculation? "))
if opper == 1:
  add(num1,num2)
if opper == 2:
  sub(num1,num2)
if opper == 3:
  mut(num1,num2)
if opper == 4:
  div(num1,num2)

Hello, what is the first number of your calculation? 16
If you wish to add type 1, subtract type 2, multiple type 3, divide type 4. 4
Hello, what is the second number of your calculation? 0
Invalid

#Files

In [ ]:
myfile = open("test.txt", "r")

for line in myfile:
  print(print)
myfile.close()

In [ ]:
myfile = open("test.txt", 'w')
myfile.write("Hello World")

myfile.close()

In [ ]:
myfile = open("test.txt", 'a')
myfile.write("Hello World")

myfile.close()

In [ ]:
def paragraph(text):
  myfile = open("test.txt", 'w')
  myfile.write(text)
text = "ghghigqhi"
paragraph(text)

#For Loops

In [ ]:
for i in range(5):
  print("Hey")

Hey
Hey
Hey
Hey
Hey

#Independent Challenge

In [183]:
countries = ["UK", "USA", "Chad", "Australia", "Thailand"]

countries[3] = "Mexico"

countries[0] = "Iceland"

countries[1] = countries[4]

#I believe the list will replace mexico into index 3, replace iceland into index 0, and lastly replace index 0 with index 4, so there will now be the same country twice

print(countries)

['Iceland', 'Thailand', 'Chad', 'Mexico', 'Thailand']

#Independent Challenge Num2

In [188]:
sqnum = [1, 4, 9, 16, 25, 36]

sqnum[5] = 49

sqnum[0] +=1

total = sqnum[3] - sqnum[1]

#First 49 will be inserted into the 5th index then next, 1 will be added to the current value of the 0 index

print(sqnum)

[2, 4, 9, 16, 25, 49]